*{
    font-family: "Courier New", Courier, monospace;
}
.encabezado{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 4%, rgba(252,70,107,1) 100%);
    background-position: center;
    background-size: cover;
    min-width :100%;
    position:fixed;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    left:0; right:0; top:0;
    color: #fff;
    height: 130px;
    display: flex!important;          /*flexbox*/
    align-items: center!important;    /*centrar elementos de manera vertical*/
    justify-content: space-between!important;
    font-size: 13px;
}
.contenedor-flexible-1{
    display: flex!important;
    margin-left: 200px!important;
    flex-direction: column!important;
}
.tittle{
    font-size: 350%!important;
}
#tittle2{
    font-size: 140%!important;
    font-weight: 300;
}
.miniTittle{
    font-size: 150%!important;
}
.contenedor-flexible-2{
    display: flex;
    font-size: 150%!important;
}
.elemento-flexible-2{
    width: 170px!important;
}
#navhtml{
    color: #fff;
}
.contenedor-flexible-3{
    display: flex!important;
    flex-direction: column!important;
    margin-right: 100px;
}
.contenedor-flexible-4{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    gap: 40%;
}
.bloque{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 4%, rgba(252,70,107,1) 100%);
    position: fixed;
    align-items: center!important; 
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 5%;
    justify-content: space-between!important;
    padding: 20px;
    gap: 20px;
}
.elementos{
    width: 250px;
}
#indice{
    text-decoration:none;
    color: #fff;
}
#indice:hover {
    color: #000;
}
.contenedor-flexible-5{
    display: flex;
    justify-content: center;
    gap: 15%;
}
.visibleBody{
    margin-top: 170px;
}
body{
    background-color: rgb(247, 247, 247);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
table{
    font: 1.5em;
    line-height: 4ch;
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
#tittle{
    float:right;
    margin-right: 70px;
}
tr:hover {
    background-color: rgba(255,153,182,1);
    color: #fff;
    
    box-shadow:  rgb(179, 112, 131) -1px 1px,  rgb(179, 112, 131) -2px 2px,  rgb(179, 112, 131) -3px 3px,  rgb(179, 112, 131) -4px 4px,  rgb(179, 112, 131) -5px 5px, rgba(179, 112, 131,0)-6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
}