*{
    font-family: "Courier New", Courier, monospace;
}
.encabezado{
    background: rgb(168,67,96);
    background: linear-gradient(90deg, rgba(168,67,96,1) 0%, rgba(255,153,182,1) 26%, rgba(245,122,157,1) 49%, rgba(50,168,65,1) 78%, rgba(122,245,137,1) 100%);
    background-position: center;
    background-size: cover;
    min-width :100%;
    position:fixed;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    left:0; right:0; top:0;
    color: #fff;
    height: 150px;
    display: flex!important;          /*flexbox*/
    align-items: center!important;    /*centrar elementos de manera vertical*/
    justify-content: space-between!important;
}
.contenedor-flexible-1{
    display: flex!important;
    margin-left: 200px!important;
    flex-direction: column!important;
}
.tittle{
    font-size: 350%!important;
}
.miniTittle{
    font-size: 150%!important;
}
.contenedor-flexible-2{
    display: flex;
    font-size: 150%!important;
}
.elemento-flexible-2{
    width: 170px!important;
}
#navhtml{
    color: #fff;
}
.contenedor-flexible-3{
    display: flex!important;
    flex-direction: column!important;
}
.contenedor-flexible-4{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    margin-right: 60px;
}
.visibleBody{
    margin-top: 200px;
}
body{
    background-color: rgb(247, 247, 247);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
table{
    font: 1.5em;
    font-size: larger;
    line-height: 4ch;
    border: #b2b2b2 1px solid;
    width: 50%;
}
td, th {
    border: black 2px ;
}
#tittle{
    float:right;
    margin-right: 70px;
}